.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
.login-page p-card {
  width: 100%;
  max-width: 400px;
}
.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background: var(--p-primary-100);
  border-radius: var(--p-border-radius) var(--p-border-radius) 0 0;
  i {
    font-size: 3rem;
    color: var(--p-primary-color);
  }
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 1rem;
}
